<!-- main.html --> 
{% extends 'page.html' %}

{% block content %}
    <!-- main.html 的內容 -->
    <!--================= Home One Start =================-->
    <div class="xoxo_fn_content">
        <!--================= Slider Area Start Here =================-->
        <div class="fn__bp_slider">
            <div class="container">
              <div class="bp_slider_in">
                <div class="swiper swiper-container ready swiper-container-horizontal">
                  <div class="swiper-wrapper">
                    {% for data in data %}
                    <div class="swiper-slide">
                      <div class="img_wrap">
                        <div class="img_holder">
                          <div class="abs_img" style="background-image: url(/media/{{data.food_img}})"></div>
                        </div>
                      </div>
                      <div class="title_holder">
                        <h3><a href="/quote_post/{{data.food_no}}">{{data.food_name}}</a></h3>
                        <div class="fn__meta">
                          <p>
                            <span class="meta_item meta_date">{{data.upload_date}}</span>
                            <span class="meta_item meta_category">
                              <a class="fn_last_category" href="/search/{{data.tag}}">{{data.tag}}</a>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="swiper-pagination"></div>
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
              </div>
            </div>
          </div>
          
          <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
          <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
          
          <script>
            $(document).ready(function() {
              var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 10,
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                },
                pagination: {
                  el: '.swiper-pagination',
                  clickable: true,
                },
              });
            });
          </script>
          
        <!--================= Slider Area End Here =================-->

        <!--================= Blog Area End Here =================--> 
        <div class="xoxo_fn_nosidebar">
            <div class="container blog_layout_classic_container">
                <div class="xoxo_fn_bloglist blog_layout_classic">
                    <br><br>
                        <div class="featured_post_item"> 
                            <div class="fp_heading">
                                <h3>
                                    <span class="text_wrapper">
                                        <span class="icon__before">
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet" class="fn__svg  replaced-svg">
                                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                                                    <path d="M1955 5106 c-16 -7 -40 -24 -52 -38 -13 -14 -229 -557 -533 -1343 -557 -1439 -532 -1362 -480 -1435 44 -62 22 -60 785 -60 588 0 695 -2 695 -14 0 -8 -112 -467 -250 -1021 -137 -554 -250 -1025 -250 -1047 0 -100 92 -168 189 -139 20 6 47 21 58 33 30 32 2112 3275 2130 3318 29 68 -6 158 -73 186 -27 11 -144 14 -634 14 -330 0 -600 3 -600 6 0 3 135 312 300 686 237 538 300 690 300 723 0 51 -31 101 -80 126 -33 18 -73 19 -755 19 -578 -1 -726 -3 -750 -14z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                    <span class="text">熱門美食</span>
                                    <span class="icon__after">
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet" class="fn__svg  replaced-svg">
                                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
                                                    <path d="M1955 5106 c-16 -7 -40 -24 -52 -38 -13 -14 -229 -557 -533 -1343 -557 -1439 -532 -1362 -480 -1435 44 -62 22 -60 785 -60 588 0 695 -2 695 -14 0 -8 -112 -467 -250 -1021 -137 -554 -250 -1025 -250 -1047 0 -100 92 -168 189 -139 20 6 47 21 58 33 30 32 2112 3275 2130 3318 29 68 -6 158 -73 186 -27 11 -144 14 -634 14 -330 0 -600 3 -600 6 0 3 135 312 300 686 237 538 300 690 300 723 0 51 -31 101 -80 126 -33 18 -73 19 -755 19 -578 -1 -726 -3 -750 -14z">
                                                    </path>
                                                </g>
                                            </svg>
                                        </span>
                                    </span>
                                </h3>
                            </div>
                            <div class="fp_content">
                                <ul>
                                    <li>
                                        <div class="fp__item">
                                            <span class="fp_count"><span>01</span></span>
                                            <h4><a href="#0">壽喜燒</a></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fp__item">
                                            <span class="fp_count"><span>02</span></span>
                                            <h4><a href="#0">銅板烤肉</a></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fp__item"><span class="fp_count"><span>03</span></span>
                                            <h4><a href="#0">起司瀑布</a></h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    <br><br>
                    <ul>
                        <li class="post_item">
                            <div class="blog__item blog__item_classic">
                                <div class="fn__meta">
                                    <p>
                                        <span class="meta_item meta_date">
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="470.000000pt" height="470.000000pt" viewbox="0 0 470.000000 470.000000" preserveaspectratio="xMidYMid meet" class="fn__svg  replaced-svg">
                                                <g transform="translate(0.000000,470.000000) scale(0.100000,-0.100000)" stroke="none">
                                                    <path d="M1224 4666 l-34 -34 0 -210 0 -211 -412 -3 -413 -3 -75 -36 c-136 -65 -236 -182 -272 -318 -13 -51 -17 -110 -17 -253 l-1 -188 2350 0 2350 0 0 181 c0 211 -14 288 -66 376 -54 90 -118 149 -213 196 l-84 42 -414 3 -413 3 0 211 0 210 -34 34 -34 34 -146 0 -146 0 -32 -29 -33 -29 -3 -216 -3 -216 -730 0 -729 0 0 195 c0 293 -2 295 -218 295 l-144 0 -34 -34z"></path>
                                                    <path d="M0 1802 c0 -1179 2 -1376 15 -1425 47 -182 180 -315 362 -362 50 -13 309 -15 1973 -15 2099 0 1966 -4 2089 58 73 36 163 128 201 202 63 125 60 41 60 1542 l0 1368 -2350 0 -2350 0 0 -1368z m1390 483 l0 -305 -305 0 -305 0 0 298 c0 164 3 302 7 305 3 4 141 7 305 7 l298 0 0 -305z m1260 0 l0 -305 -300 0 -300 0 0 305 0 305 300 0 300 0 0 -305z m1268 -2 l2 -303 -305 0 -305 0 0 305 0 305 303 -2 302 -3 3 -302z m-2528 -1273 l0 -300 -305 0 -305 0 0 300 0 300 305 0 305 0 0 -300z m1260 0 l0 -300 -300 0 -300 0 0 300 0 300 300 0 300 0 0 -300z m1270 0 l0 -300 -305 0 -305 0 0 300 0 300 305 0 305 0 0 -300z"></path>
                                                </g>
                                            </svg>
                                            2023/05/15
                                        </span>
                                        <span class="meta_item meta_category">
                                            <a class=" fn_last_category" href="">拉麵</a>
                                        </span>
                                    </p>
                                </div>
                                <div class="bottom_holder">
                                    <div class="blog__image">
                                        <a href=""><img src="/static/image/拉麵.jpeg" alt="Post Image"></a>
                                    </div>
                                    <div class="title_holder">
                                        <div class="title">
                                            <h3><a href="">台北最好吃拉麵</a></h3>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <p>
                                            一開始是被朋友介紹而來到這家店，而進到店裡後立刻就被裡面的環境所吸引。店內的裝潢簡潔明亮，讓人感到非常舒適。而且，煮麵師傅們一直在忙碌地工作著，讓整個店充滿了熱鬧的氛圍...
                                        </p>
                                    </div>
                                    <div class="read_more">
                                        <div class="read_in">
                                            <a href="quote_post/"><span class="text">觀看更多</span><span class="triple"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>          
        </div>
    </div>
{% endblock %}