<!DOCTYPE html>
<html>
<head>
  <title>個人資料</title>
  <style>
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div>
    {% for data in data %}
    <h1>個人資料</h1>
    <img id="photo" src="{{data.photo}}">
    個人簡介:<div id="datainfo">{{data.info}}</div><br>
    帳號:<div id="username">{{data.username}}</div><br>
    姓名：<div id="fname">{{data.fname}}</div><br>
    生日:<div id="birthday">{{data.birthday}}</div><br>
    性別:<div id="sex">{{data.sex}}</div><br>
    手機:<div id="phone">{{data.phone}}</div><br>
    email:<div id="email">{{data.email}}</div><br>
    {%endfor%}
    <input id="photo-input" type="submit" value="編輯" onclick="enableEditMode()">
    <form id="profile-form" style="display: none;">
      <input type="file" id="image-input">
      <input type="submit" value="儲存" onclick="saveChanges()">
    </form>
  </div>

  <!DOCTYPE html>
<html>
<head>
  <title>個人資料</title>
  <style>
    .profile-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
  </style>
</head>
<body>
  <div>
    {% for data in data %}
    <h1>個人資料</h1>
    <img id="photo" src="{{data.photo}}">
    個人簡介:<div id="datainfo">{{data.info}}</div><br>
    帳號:<div id="username">{{data.username}}</div><br>
    姓名：<div id="fname">{{data.fname}}</div><br>
    生日:<div id="birthday">{{data.birthday}}</div><br>
    性別:<div id="sex">{{data.sex}}</div><br>
    手機:<div id="phone">{{data.phone}}</div><br>
    email:<div id="email">{{data.email}}</div><br>
    {%endfor%}
    <button onclick="enableEditMode()">編輯</button>
    <form id="photo-form" style="display: none;">
      <input type="file" id="photo-input">
      <input type="submit" value="儲存" onclick="saveChanges()">
    </form>
  </div>

  <script>
    function enableEditMode() {
        // 取得個人資料
        var datainfo = document.getElementById('datainfo');
        var username = document.getElementById('username');
        var fname = document.getElementById('fname');
        var birthday = document.getElementById('birthday');
        var sex = document.getElementById('sex');
        var phone = document.getElementById('phone');
        var email = document.getElementById('email');
        
        // 啟用編輯模式
        datainfo.contentEditable = true;
        username.contentEditable = true;
        fname.contentEditable = true;
        birthday.contentEditable = true;
        sex.contentEditable = true;
        phone.contentEditable = true;
        email.contentEditable = true;
        
        datainfo.style.border = '1px solid red';
        username.style.border = '1px solid red';
        fname.style.border = '1px solid red';
        birthday.style.border = '1px solid red';
        sex.style.border = '1px solid red';
        phone.style.border = '1px solid red';
        email.style.border = '1px solid red';

        document.getElementById("photo").style.display = "none";
        document.getElementById("photo-form").style.display = "block";
    }
    
    function saveChanges() {
        // 取得修改後的資料
        var datainfo = document.getElementById('datainfo').innerText;
        var username = document.getElementById('username').innerText;
        var fname = document.getElementById('fname').innerText;
        var birthday = document.getElementById('birthday').innerText;
        var sex = document.getElementById('sex').innerText;
        var phone = document.getElementById('phone').innerText;
        var email = document.getElementById('email').innerText;
        
        console.log('新的個人簡介：', datainfo);
        console.log('新的帳號：', username);
        console.log('新的姓名：', fname);
        console.log('新的生日：', birthday);
        console.log('新的性別：', sex);
        console.log('新的手機：', phone);
        console.log('新的email：', email);
    }

    document.getElementById("photo-form").addEventListener("submit", function(event) {
        event.preventDefault(); // 防止表單提交
        var imageInput = document.getElementById("photo-input");
        var selectedImage = imageInput.files[0];
        
        if (selectedImage) {
            var reader = new FileReader();
            reader.onload = function(event) {
                document.getElementById("photo").src = event.target.result;
                document.getElementById("photo").style.display = "block";
                document.getElementById("photo-form").style.display = "none";
            };
            reader.readAsDataURL(selectedImage);
        }
    });
  </script>
</body>
</html>

</body>
</html>