<!-- myinfo_edit.html -->
{% extends 'page.html' %}<!-- 連接模板 -->

{% block content %}
    <!-- myinfo_edit.html 的內容 -->
    <!-- 放只有這頁才有的內容 -->
    <div class="xoxo_fn_hassidebar">
        <div class="sidebar_in">
            <div class="xoxo_fn_sidebar">
                <div class="xoxo_fn_nosidebar">
                    <div class="container blog_layout_classic_container">
                        <div class="xoxo_fn_bloglist blog_layout_classic">
                            <div class="input">
                                <div class="widget_block clear widget_xoxo_custom_categories">
                                    <div class="wid-title">
                                        <span class="text">編輯我的資料</span>
                                    </div>
                                    <ul>
                                        <form action="." method="POST" enctype="multipart/form-data" >{% csrf_token %}
                                            <div class="input">
                                                <h3>電子郵件：
                                                    <input type="text" placeholder="請輸入電子郵件" name="email" >
                                                </h3>
                                                <h3>電&emsp;&emsp;話：
                                                    <input type="text" placeholder="請輸入您的電話" name="phone" >
                                                </h3>
                                                <h3>姓&emsp;&emsp;氏：
                                                    <input type="text" placeholder="請輸入您的姓氏" name="lname" >
                                                </h3>
                                                <h3>名&emsp;&emsp;字：
                                                    <input type="text" placeholder="請輸入您的名字" name="fname" >
                                                </h3>
                                                <h3>變更密碼：
                                                    <input type="password" placeholder="請輸入密碼" name="password" >
                                                </h3>
                                                <h3>確認密碼：
                                                    <input type="password2" placeholder="請再輸入一次密碼" name="password2" >
                                                </h3>
                                                <h3>個人簡介：
                                                    <div class="input-holder">
                                                        <textarea placeholder="請輸入您的個人簡介讓我們了結你的個人喜好" name="info" aria-required="true" rows="10" tabindex="1"></textarea>
                                                    </div> 
                                                </h3>
                                                <!--================= cmd＋f 個人頭貼=================-->
                                                <h3>上傳您的大頭貼：</h3>
                                                <input type="file" id="file-input" name="photo" accept=".jpg, .jpeg, .png">
                                            </div>
                                        </br>
                                            <div class="read_more">
                                                <div class="read_in">
                                                    <span class="xoxo_submit"><input type="submit" value="儲存"></span>
                                                </div>
                                            </div>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}
