<!-- mypost.html -->
{% extends 'page.html' %}<!-- 連接模板 -->

{% block content %}
    <!-- mypost.html 的內容 -->
    <!-- 放只有這頁才有的內容 -->
<div class="xoxo_fn_hassidebar">    
        <div class="xoxo_fn_sidebar">
            <div class="container blog_layout_classic_container">
                <div class="widget_block clear widget_xoxo_custom_categories">
                    <div class="wid-title">
                        <span class="text">個人設定</span>
                        <span class="icon"></span>
                    </div>
                    <div class="xoxo_fn_hassidebar">
                        <div class="xoxo_fn_rightsidebar">
                            <ul> 
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
