<!-- search.html -->
{% extends 'page.html' %}<!-- 連接模板 -->

{% block content %}
    <!-- search.html 的內容 -->
    <!-- 放只有這頁才有的內容 -->
    <ul class="post_list">
        {% for data in data %}
        <li class="post-79 post type-post status-publish format-standard has-post-thumbnail hentry category-food category-health tag-blog tag-health tag-humor tag-image tag-writing post_item" id="post-79">
            <div class="blog__item blog__item_classic">
                <div class="fn__meta">
                    <p>
                        <span class="meta_item meta_date">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="470.000000pt" height="470.000000pt" viewbox="0 0 470.000000 470.000000" preserveaspectratio="xMidYMid meet" class="fn__svg  replaced-svg">
                                <g transform="translate(0.000000,470.000000) scale(0.100000,-0.100000)" stroke="none">
                                    <path d="M1224 4666 l-34 -34 0 -210 0 -211 -412 -3 -413 -3 -75 -36 c-136 -65 -236 -182 -272 -318 -13 -51 -17 -110 -17 -253 l-1 -188 2350 0 2350 0 0 181 c0 211 -14 288 -66 376 -54 90 -118 149 -213 196 l-84 42 -414 3 -413 3 0 211 0 210 -34 34 -34 34 -146 0 -146 0 -32 -29 -33 -29 -3 -216 -3 -216 -730 0 -729 0 0 195 c0 293 -2 295 -218 295 l-144 0 -34 -34z">
                                    </path>
                                    <path d="M0 1802 c0 -1179 2 -1376 15 -1425 47 -182 180 -315 362 -362 50 -13 309 -15 1973 -15 2099 0 1966 -4 2089 58 73 36 163 128 201 202 63 125 60 41 60 1542 l0 1368 -2350 0 -2350 0 0 -1368z m1390 483 l0 -305 -305 0 -305 0 0 298 c0 164 3 302 7 305 3 4 141 7 305 7 l298 0 0 -305z m1260 0 l0 -305 -300 0 -300 0 0 305 0 305 300 0 300 0 0 -305z m1268 -2 l2 -303 -305 0 -305 0 0 305 0 305 303 -2 302 -3 3 -302z m-2528 -1273 l0 -300 -305 0 -305 0 0 300 0 300 305 0 305 0 0 -300z m1260 0 l0 -300 -300 0 -300 0 0 300 0 300 300 0 300 0 0 -300z m1270 0 l0 -300 -305 0 -305 0 0 300 0 300 305 0 305 0 0 -300z">
                                    </path>
                                </g>
                            </svg>
                            {{ data.upload_date }}
                        </span>
                        <span class="meta_item meta_category">
                            <a class=" fn_last_category">{{ data.tag }}</a>
                        </span>
                    </p>
                </div>
                <div class="bottom_holder">
                    <div class="blog__image">
                        <a href="/quote_post/{{data.food_no}}"><img src="/media/{{ data.food_img }}" alt="Post Image"></a>
                    </div>
                    <div class="title_holder">
                        <div class="title">
                            <h3><a href="/quote_post/{{data.food_no}}">{{ data.food_name }}</a></h3>
                        </div>
                        </div>
                        <div class="read_more">
                            <div class="read_in">
                                <a href="/quote_post/{{data.food_no}}"> <span class="text">觀看更多</span> <span class="triple"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>{% endfor %}
{% endblock %}