<!DOCTYPE html>
<html>
<head>
	<title>Upload and Comment</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#file-input").on("change", function() {
				var file = this.files[0];
				var reader = new FileReader();
				reader.onload = function(e) {
					$("#image-preview").attr("src", e.target.result);
				}
				reader.readAsDataURL(file);
			});
			$("#submit-comment").on("click", function() {
				var comment = $("#comment-input").val();
				if (comment) {
					$("#comment-list").append("<li>" + comment + "</li>");
					$("#comment-input").val("");
				}
			});
		});
	</script>
</head>
<body>
	<h1>Upload and Comment</h1>
	<form>
		<label for="file-input">Choose a photo:</label>
		<input type="file" id="file-input"><br><br>
		<img id="image-preview" src="#" alt="Image preview"><br><br>
		<label for="comment-input">Leave a comment:</label>
		<input type="text" id="comment-input" name="comment-input"><br><br>
		<input type="button" id="submit-comment" value="Submit Comment">
	</form>
	<ul id="comment-list"></ul>
</body>
</html>
<div class="xoxo_fn_hassidebar">
	<div class="sidebar_in">
		<div class="xoxo_fn_sidebar">
			<div class="widget_block clear widget_xoxo_custom_categories">
				<div class="wid-title">
					<span class="text">關於我</span>
					<span class="icon"></span>
				</div>
			<div class="xoxo_fn_widget_author">
				<div class="info_img" style="background-image: url(assets/images/blog/author.jpg);">
					<a class="full_link" href="#0"></a>
					<div class="abs_img"></div>
				</div>
				<div class="info_desc">
					<div class="author_top">
						<h3 class="fn_title">
							<a href="#0">{{name}}</a>
						</h3>
						<p class="fn_desc">
							個人簡介:{{data.info}}
							帳號:{{data.username}}
							姓名：{{data.fname}}
							生日:{{data.birthday}}
							性別:{{data.sex}}
							手機:{{data.phone}}
							email:{{data.email}}
						</p>
					</div>
				</div>  
			</div>
			<div class="xoxo_fn_hassidebar">
				<div class="xoxo_fn_rightsidebar">
					<ul>
						<li class="post_item">
							<div class="blog__item blog__item_classic">
								<span class="post_icon">
									<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt" viewbox="0 0 512.000000 512.000000" preserveaspectratio="xMidYMid meet" class="fn__svg  replaced-svg">
		
										<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" stroke="none">
											<path d="M2485 4991 c-16 -10 -37 -27 -46 -37 -9 -10 -157 -369 -329 -798 -173 -428 -318 -779 -324 -781 -6 -2 -382 -29 -836 -60 -922 -63 -885 -58 -929 -136 -29 -51 -25 -115 10 -158 13 -17 296 -260 629 -541 333 -282 618 -524 633 -539 l28 -27 -206 -822 c-113 -452 -205 -832 -205 -844 0 -37 42 -99 80 -119 19 -11 54 -19 77 -19 37 0 110 43 767 454 l726 455 728 -455 727 -456 51 4 c67 6 107 35 130 95 l18 46 -207 829 c-114 456 -205 833 -202 838 3 4 293 252 644 550 436 369 645 553 655 575 22 46 20 90 -6 136 -43 76 -8 71 -938 136 l-835 58 -315 782 c-174 430 -324 791 -335 803 -47 52 -134 66 -190 31z">
											</path>
										</g>
									</svg>
								</span>
								<div class="fn__meta">
									<p>
										<span class="meta_item meta_date">
											<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="470.000000pt" height="470.000000pt" viewbox="0 0 470.000000 470.000000" preserveaspectratio="xMidYMid meet" class="fn__svg  replaced-svg">
												<g transform="translate(0.000000,470.000000) scale(0.100000,-0.100000)" stroke="none">
													<path d="M1224 4666 l-34 -34 0 -210 0 -211 -412 -3 -413 -3 -75 -36 c-136 -65 -236 -182 -272 -318 -13 -51 -17 -110 -17 -253 l-1 -188 2350 0 2350 0 0 181 c0 211 -14 288 -66 376 -54 90 -118 149 -213 196 l-84 42 -414 3 -413 3 0 211 0 210 -34 34 -34 34 -146 0 -146 0 -32 -29 -33 -29 -3 -216 -3 -216 -730 0 -729 0 0 195 c0 293 -2 295 -218 295 l-144 0 -34 -34z"></path>
													<path d="M0 1802 c0 -1179 2 -1376 15 -1425 47 -182 180 -315 362 -362 50 -13 309 -15 1973 -15 2099 0 1966 -4 2089 58 73 36 163 128 201 202 63 125 60 41 60 1542 l0 1368 -2350 0 -2350 0 0 -1368z m1390 483 l0 -305 -305 0 -305 0 0 298 c0 164 3 302 7 305 3 4 141 7 305 7 l298 0 0 -305z m1260 0 l0 -305 -300 0 -300 0 0 305 0 305 300 0 300 0 0 -305z m1268 -2 l2 -303 -305 0 -305 0 0 305 0 305 303 -2 302 -3 3 -302z m-2528 -1273 l0 -300 -305 0 -305 0 0 300 0 300 305 0 305 0 0 -300z m1260 0 l0 -300 -300 0 -300 0 0 300 0 300 300 0 300 0 0 -300z m1270 0 l0 -300 -305 0 -305 0 0 300 0 300 305 0 305 0 0 -300z"></path>
												</g>
											</svg>
											{{日期}}
										</span>
										<span class="meta_item meta_category">
											<a class=" fn_last_category" href="">{{我是分類}}</a>
										</span>
									</p>
								</div>
								<div class="bottom_holder">
									<div class="blog__image">
										<a href=""><img src="/static/image/拉麵.jpeg" alt="Post Image"></a>
									</div>
									<div class="title_holder">
										<div class="title">
											<h3><a href="">{{我是標題}}</a></h3>
										</div>
										</div>
										<div class="desc">
											<p>
											{{我是內文}}
											</p>
										</div>
										<div class="read_more">
											<div class="read_in">
												<a href=""><span class="text">觀看更多</span><span class="triple"></span></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>       
				</div>
			</div>
		</div>
	</div>
</div>
